@model RequestAndDelivery.Data.ViewModels.EmployeeDataViewModel

<div class="table-responsive" dir="rtl">
    <table class="table table-striped table-product">
        <tbody>
            <tr>
                <td width="390" style="font-weight:700">الاسم:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td style="font-weight:700">رقم التليفون:</td>
                <td>@Model.MobilePhone</td>
            </tr>           
            <tr>
                <td style="font-weight:700">الفرع:</td>
                <td>@Model.Branche</td>
            </tr>
            <tr>
                <td style="font-weight:700">الإداره:</td>
                <td>@Model.Department</td>
            </tr>
           
        </tbody>
     </table>
</div>

