<!-- Modal -->
<div class="modal fade" id="Model" tabindex="-1" role="dialog" aria-labelledby="ModelLabel" aria-hidden="true" dir="rtl">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModelLabel">
                    @*model title will be rendered here*@
                </h1>
               
            </div>
            <div class="modal-body" id="modelBody">
                @*model body will be rendered here*@
            </div>

        </div>
    </div>
</div>

