
@model RequestFormViewModel

<section class="mt-5" dir="rtl" lang="ar">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-5">ادخال طلب جديد</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">              
                <form asp-action="Create" >
                    <div class="form-floating mb-4">
                        <select class="form-select js-select2Single" asp-for="DeviceTypeId" asp-items="@ViewBag.DeviceTypes">
                            <option selected value="">أختر نوع الجهاز</option>
                        </select>
                        <span asp-validation-for="DeviceTypeId" class="text-danger"></span>
                    </div>
                   
                    <!--Employee Name input-->
                    <div class="form-floating mb-4">
                        <input class="form-control" asp-for="EmployeeName" type="text" placeholder="أدخل اسم الموظف" data-sb-validations="required" />
                        <label >اسم الموظف</label>
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                    <!-- mobile number input-->
                    <div class="form-floating mb-4">
                        <input class="form-control" asp-for="EmployeeId" id="mobileNumber" type="text" placeholder="name@example.com" data-sb-validations="required" />
                        <label >رقم التليفون</label>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        
                    </div>
                    <div class="form-floating mb-4">
                        <select asp-items="@ViewBag.Branches" class="form-select js-select2Single" onchange="getBranchDepartments(this.value,'#Departments')"
                        asp-for="BranchId">
                            <option selected value="">أختر الفرع</option>
                        </select>
                        <span asp-validation-for="BranchId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <select class="form-select js-select2Single" id="Departments" asp-for="DepartmentId">
                            <option selected value="">أختر الاداره</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control"  type="text" placeholder="" asp-for="ExportNumber"/>
                        <label>رقم الصادر</label>
                        <span asp-validation-for="ExportNumber" class="text-danger"></span>
                      
                    </div>

                     <div class="form-floating mb-4">
                        <input class="form-control" id="requestDate" type="date" placeholder="" asp-for="RequestDate"/>
                        <label >تاريخ الطلب</label>
                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                       
                    </div>
                  
                   
             
                    <div class="d-grid"><button class="btn btn-primary btn-l"  type="submit">حفظ</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    
  @*  <script>
        function getBranchDepartments(id){

            $.get({
                url:"/Requests/GetBranchDepartments/"+id,
                success:function(data){
                    var html = "<option value=0 selected>أختر الاداره</option>";
                    $.each(data,function(key ,value){
                        html += `<option value=${value.id}>${value.name}</option>`;
                        $('#Departments').html(html);
                    })

                }
            })

        }

    </script>*@
}