@model FilterRequestsViewModel;
@section Styles{

    @* <link href="~/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/buttons.datatables.min.css" rel="stylesheet" />

}

<div class="container mt-5 pt-5" dir="rtl" lang="ar">
    <div class="ReqsFilterH1">
        <h1>فلتر الطلبات</h1>
    </div>
    <form >
        <div class="row m-5">

            <div class="col-md-4 mb-4 ">
                <h5>أختر الفرع</h5>
                <select id="BranchId" asp-items="@ViewBag.Branches" class="form-select js-select2Single"
                onchange="getBranchDepartments(this.value,'#Departments2')"
                        asp-for="BranchId">
                    <option value=null selected>أختر الفرع</option>
                </select>
            </div>

            <div class="col-md-4 mb-4">

                <h5 class="fs-4">أختر الإداره</h5>
                <select  asp-for="DepartmentId" class="form-select  js-select2Single"
                asp-items="@ViewBag.Departments" id="Departments2" asp-for="DepartmentId">
                    <option value=null selected>أختر الاداره</option>
                </select>
            </div>
            <div class="col-md-4 mb-4">
                <h5>أختر نوع الجهاز</h5>
                <select id="DeviceTypeId" class="form-select js-select2Single" asp-for="DeviceTypeId" asp-items="@ViewBag.DeviceTypes">
                    <option value=null selected>أختر نوع الجهاز</option>
                </select>
            </div>
            <div class="col-md-4 mb-4 offset-md-3">
                <h5>رقم الصادر</h5>
                <input id="ExportNumber" class="form-control fs-5" asp-for="ExportNumber" />
                       
                
            </div>
               @* <div class="row mb-5">
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" asp-for="IsDeliverd">
                        <label class="form-check-label" asp-for="IsDeliverd"></label>
                    </div>

                </div>*@
                <div class="form-check form-switch col-md-4 my-4">
                    <input class="form-check-input fs-3 isDeliverdCheck" type="checkbox" role="switch" id="IsDeliverd" asp-for="IsDeliverd">
                    <label class="form-check-label fs-5" for="IsDeliverd">تم التسليم؟</label>
                </div>
             
            <div class="col-md-4 mb-4 offset-md-3">
                <h5>رقم تليفون الموظف</h5>
                <input id="EmployeeId" class="form-control fs-5" asp-for="EmployeeId" />


            </div>
            <div class="col-md-4 mb-4 ">
                <h5>اسم الموظف</h5>
                <input id="EmployeeName" class="form-control fs-5" asp-for="EmployeeName" />


            </div>
            <div class="col-md-4 mb-4 offset-md-3">
                <h5>التاريخ من</h5>
                <input asp-for=DateFrom class="form-control fs-5" id="DateFrom" type="date" />
            </div>
            <div class="col-md-4 mb-4">
                <h5> التاريخ إلي</h5>
                <input asp-for=DateTo class="form-control fs-5" id="DateTo" type="date" />
            </div>
            <div class="col-md-5 m-auto mt-5">
                <button type="button" onclick="resetToDefault()" class="btn btn-info fs-6 m-auto">إعاده تشغيل</button>
                <button type="button" onclick="getFilteredRequests()" class="btn btn-primary w-50 fs-6 ">إبحث</button>
            </div>
           
        </div>

       
    </form>
    <div class="ReqFilterTableH1">
        <h1 class=" mb-3">نتيجه البحث</h1>
    </div>

    <table id="requestTable" class="table table-striped table-bordered dt-responsive nowrap" dir="rtl" lang="ar">

            <thead>
                <tr>
                <th class="text-center">نوع الجهاز</th>
                <th class="text-center">تاريخ الطلب</th>
                <th class="text-center">رقم الصادر</th>
                <th class="text-center">حاله التسليم</th>
                <th class="text-center">اسم الموظف</th>
                <th class="text-center">رقم تليفون الموظف</th>
                <th class="text-center">الفرع</th>
                <th class="text-center">الإداره</th>
                </tr>
            </thead>
            <tbody id="tBody"> </tbody>

        </table>
 
</div>
@section Plugins{
    <script src="~/lib/datatable/datatables.min.js"></script>
    @*<script src="~/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/datatables/js/datatables.bootstrap.min.js"></script>*@
    <script src="~/lib/datatable/datatables.buttons.min.js"></script>
    <script src="~/lib/datatable/jszip.min.js"></script>
    <script src="~/lib/datatable/pdfmake.min.js"></script>
    <script src="~/lib/datatable/vfs_fonts.js"></script>
    <script src="~/lib/datatable/buttons.html5.min.js"></script>
    <script src="~/lib/datatable/buttons.print.min.js"></script>
}
        @section Scripts{
            <script>
        function resetToDefault() {
            window.location.reload();
        }

        var buttonCommon = {
            exportOptions: {
                columns: [6, 5, 4, 3, 2, 1, 0],
                //columns: columns.reverse(),
                format: {

                    body: function (data, row, column, node) {
                        
                        if (column === 3){

                            if ($('.fa-circle-check').html() === undefined)
                                return data = "لم يتم التسليم"
                                else
                                return data = "تم التسليم "
                        }
                        else
                        return data ;
                    }
                }
            }
        };
            
            function getFilteredRequests(){
                var data = {
                    BranchId: document.getElementById("BranchId").value,
                    DepartmentId: document.getElementById("Departments2").value,
                    DateFrom: document.getElementById("DateFrom").value,
                    DateTo: document.getElementById("DateTo").value,
                    ExportNumber: document.getElementById("ExportNumber").value,
                    DeviceTypeId: document.getElementById("DeviceTypeId").value,
                    EmployeeName: document.getElementById("EmployeeName").value,
                    IsDeliverd: $('#IsDeliverd').prop('checked'),
                    EmployeeId: document.getElementById("EmployeeId").value
                }
           
            var table =$("#requestTable").DataTable({
                "searching": false,
                "destroy": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    //IP +
                    url: "/Requests/GetRequestsByFilters",
                    type: "post",
                    dataType: 'json',
                    data: data,
                },
                "columns": [

                    { "data": "deviceType", "name": "نوع الجهاز", "autowidth": true },
                    { "data": "requestDate", "name": "تاريخ الطلب", "autowidth": true },
                    { "data": "exportNumber", "name": "رقم الصادر", "autowidth": true },
                    {
                     "render": function (data, type, row) {
                            return row.isDeliverd ? `<span  style="color:green;font-size:1.5rem" > <i class="fa-solid fa-circle-check" > </i></span>` :
                                `<span  style="color:red;font-size:1.5rem" > <i class="fa-solid fa-circle-xmark" > </i></span>`
                        }
                    },
                    { "data": "empName", "name": "اسم الموظف", "autowidth": true },
                    { "data": "empNumber", "name": "رقم تليفون الموظف", "autowidth": true },
                    { "data": "branch", "name": "الفرع", "autowidth": true },
                    { "data": "department", "name": "الإداره", "autowidth": true }
                ],
                dom: 'Bfrtip',
                buttons: [
                    $.extend(true, {}, buttonCommon, {
                        extend: 'excel',
                        text: 'excel',
                        title: 'Requests',
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'copy',
                        text: 'copy',
                        title: 'Requests',
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'print',
                        messageTop: '<h1>الطلبات</h1>',
                        customize: function (win) {
                            $(win.document.body).find('table').addClass('display').css('font-size', '20px');
                            $(win.document.body).find('tr:nth-child(odd) td').each(function (index) {
                                $(this).css('background-color', '#D0D0D0');
                            });
                            $(win.document.body).find('h1').css('text-align', 'center');
                        }

                    })
                ]
            })
        }
                                
                                  
            </script>
        }