@model GetRequestToDeliverViewModel;
@section Styles{
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/datetimepicker/daterangepicker.css" rel="stylesheet" />
}
<div class="container mt-5 pt-5" dir="rtl" lang="ar">
    <div class="ReqsFilterH1">
        <h1>اختر الطلب </h1>
    </div>
    <form asp-action="GetRequestToDeliver"
    data-ajax="true"
    data-ajax-method="post"
    data-ajax-failure="onAjaxRequestFail"
    data-ajax-success="onAjaxRequestSuccess">
        <div class="row m-5">

            <div class="col-md-4">
                <h5>أختر الفرع</h5>
                <select id="BranchId" asp-items="@ViewBag.Branches" class="form-select js-select2Single"
                        onchange="getBranchDepartments(this.value,'#Departments2')"
                        asp-for="BranchId">
                    <option value=null selected>أختر الفرع</option>
                </select>
            </div>

            <div class="col-md-4">

                <h5 class="fs-4">أختر الإداره</h5>
                <select asp-for="DepartmentId" class="form-select  js-select2Single"
                        asp-items="@ViewBag.Departments" id="Departments2" asp-for="DepartmentId">
                    <option value=null selected>أختر الاداره</option>
                </select>
            </div>
            <div class="col-md-4">
                <h5>أختر نوع الجهاز</h5>
                <select id="DeviceTypeId" class="form-select js-select2Single" asp-for="DeviceTypeId" asp-items="@ViewBag.DeviceTypes">
                    <option value=null selected>أختر نوع الجهاز</option>
                </select>
            </div>
            <div class="col-md-4 m-5 ">
                <h5>رقم الصادر</h5>
                <input id="ExportNumber" class="form-control fs-5" asp-for="ExportNumber" />


            </div>

            <div class="col-md-4 m-5">
                <h5>تاريخ الطلب</h5>
                <input asp-for="DateFrom" class="form-control fs-5 " id="DateFrom" type="date" />
            </div>

                <div class="col-md-4 mx-5 ">
                    <h5>اسم الموظف</h5>
                    <input id="EmployeeName" class="form-control fs-5" asp-for="EmployeeName" />
                </div>

            <div class="col-md-4 mx-5">
                <h5>رقم تليفون الموظف</h5>
                <input id="EmployeeId" class="form-control fs-5" asp-for="EmployeeId" />


            </div>
            
            <div class="col-md-5 m-auto mt-5">
          
                <button type="submit"   class="btn btn-primary w-50 fs-6 ">تسليم الطلب</button>
            </div>

        </div>


    </form>
</div>
    @section Plugins{
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/datetimepicker/moment.min.js"></script>
    <script src="~/lib/datetimepicker/daterangepicker.min.js"></script>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function onAjaxRequestFail(response) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: response.responseText
            });

        }

        function onAjaxRequestSuccess(data){
            window.location.href = '/Delivaries/DeviceDeliver/'+data.id;
        }
    </script>
}
